<p>post-create works!</p>

<!-- Post Input Form -->
<!-- minLength is sort of working ?? -->
<form ngNativeValidate (submit)="postThis(postForm)" #postForm="ngForm" class="card mx-auto bg-light" style="max-width: 450px;">
    <div class="form-group col-9 pt-5 mx-auto">
        <input 
            class="form-control"
            name="title" 
            type="text" 
            placeholder="Put Title here..." 
            [ngModel]="post?.title"
            minlength="2"
            required
            #title="ngModel">
    </div>
    <div class="form-group col-9 mx-auto">
        <!-- textarea: must stay in 1 LINE of code to work -->
        <textarea name="content" class="form-control" placeholder="Type Post here..." rows="5" [ngModel]="post?.content" #description="ngModel" minlength="3" required></textarea>
    </div>
    <button class="btn btn-outline-success col-6 mx-auto mb-5" type="submit">Post Now</button>
</form>
